$color: black;

.someClass {
  background-color: aliceblue;
  background-image: url('../../resources/images/1.jpg');
  width: 200px;
  height: 200px;
  color: $color;
  display: flex;
  transition: 0.5s;

  &:global(.asd) {
    background-color: brown;
  }
}

.another {
  color: beige;
}
